<!-- a recipe page -->

<div class="container-fluid img-center" id="recipes"> <div class="container-fluid img-center" id="recipes">
     
      <div>
        <h3 class="text-orange">{{comment.title}}</h3>
      </div>
      <div>
        <h4 class="mt-x">Date</h4>
        <p class="text-center mt-3">{{format_date comment.date_created}}</p>
      </div>

      <div>
        <h4 class="mt-x">Comment</h4>
        <p class="text-center mt-3">{{comment.content}}</p>
      </div>
  
    </div>
