

<div class="container-fluid" id="comment">
  {{#each comments as |comment|}}
  <div class="row">
    <div class="col small-cards">
      <div class="card">
        <h5 class="card-title">{{comment.title}}</h5>
        <p class="card-text">{{comment.content}}</p>
        <span class="bywho">Created by {{username}} on {{format_date comment.date_created}} </span>

      </div>
    </div>
  </div>

  {{/each}}
</div>
