<!--Top cards -->
<div class="container-fluid" id="comment">

  <div class="row">
    {{#each comments as |comment|}}
    <div class="col small-cards">
      <div class="card">
        <h5 class="card-title">{{comment.title}}</h5>
        <p class="card-text">{{comment.content}}</p>
        <span class="bywho">By {{user.name}}</span>
        <br>
        <p class="card-text">{{format_date comment.date_created}}</p>
      </div>
    </div>

  </div>
  {{/each}}


</div>

</div>